<template>
    <div class="classSlot">
        <h1>
            Test Slot
        </h1>          
        <div class="header">
            <slot name="header">header nếu không được định nghĩa</slot>
        </div>
        <div class="content">
            <slot name="content"></slot>
        </div>    
        <div class="footer">
            <slot name="footer"></slot>
        </div>        
        <slot></slot>
        <!-- <button type="submit">
            <slot name="content">Submit123</slot>
        </button>               -->
        <!-- <span>
            <slot v-bind:user="user">
                Họ: {{ user.ho }}
            </slot>
        </span>         -->

        <!-- Handling Edge Cases phần 3 -->
        <!-- <button v-on:click="TestPhuc" key="TestPhuc">TestPhuc</button><br/>
        input1:<input ref="testRef" key="TestPhuc1" type="text"/><br/>
        input2:<input ref="testRef" key="TestPhuc2" type="text"/> -->

    </div>
</template>

<script>
export default {
  name: 'test-slot',
  props:{
  },  
  data () {
    return {
      dataSlot: 'đang ở component TestSlot',
      user:{ten:'Phúc',ho:'Đinh'}
    }
  },
  methods: {
    TestPhuc(){
    //   console.log(this.$refs);        
    //   this.$refs.testRef.value = 'Đinh Văn Phúc';
    }
  }
}
</script>

<style>
    .header{
        color: blue;
    }
    .content{
        color: red;
    }    
</style>
