<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <test-slot>
      <template v-slot:header>
        <h1>header-header</h1>
      </template>
      
      <template v-slot:content>
        <p>content1.</p>
        <p>content2.</p>
      </template>  

      <template v-slot:footer>
        <p>footer-footer</p>
      </template>
      <div>
        <h1>slot không tên</h1>
      </div>  
      <!-- <template v-slot="user">
        Tên: {{ user.user.ten }}
      </template>          -->
    </test-slot>

    <!-- phần Dynamic -->
    <!-- <keep-alive>
      <component v-bind:is="component" />
    </keep-alive>  
    <button v-on:click="chuyenDoi">chuyển đổi</button> -->
  </div>
</template>

<script>
import TestSlot from './components/TestSlot.vue';
import TestDynamic1 from './components/TestDynamic1.vue';
import TestDynamic2 from './components/TestDynamic2.vue';
export default {
  name: 'app',
  components: {
      TestSlot,
      TestDynamic1,
      TestDynamic2,
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      content1: 'content1',
      content2: 'content2',
      component:"TestDynamic2"      
    }
  },
  methods: {
    chuyenDoi(){
      if (this.component === TestDynamic1) {
        this.component = TestDynamic2;
      } else {
        this.component = TestDynamic1;
      }
    }
  }  
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.header{
    color: red;
}
</style>
